<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641162994063-hglr1r390ttulqksa6fkkp60e34u761l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641162994063-hglr1r390ttulqksa6fkkp60e34u761l</string>
	<key>API_KEY</key>
	<string>AIzaSyALNYLboZLdhQ7lEF3oN2m4m-ZTU8bgMo8</string>
	<key>GCM_SENDER_ID</key>
	<string>641162994063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Dogpa.Swift-Practice---110-Firebase-Facebook-Login</string>
	<key>PROJECT_ID</key>
	<string>swiftpractice110</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftpractice110.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641162994063:ios:e2a681b58f5603c2116bfa</string>
</dict>
</plist>